@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');
* {
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}
body {
  background-color: rgb(230, 228, 228);
  margin: 0;
}
.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    position: relative;
    width: 100%;
}
.container{
  margin: 0 auto;
  position: relative;
  max-width: 960px;
  width: 100%;
}
.nav{
  margin-bottom: 20px;
  background-color:#00adb5;
}
.nav .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.list-nav{
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
}
.list-item{
  margin-left: 20px;
}
.link{
  color:#fff;
  text-decoration: none;
}



ul.catalogo-news {
	align-items: flex-start;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	justify-content: space-between;
	padding: 20px 0;
	column-gap: 15px;
	width: 100%;
}

li.news-item {
	background-color: #fff;
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	display: flex;
	flex-direction: column;
	margin-bottom: 30px;
	overflow: hidden;
	width: 100%
	
}


figure.news-poster {
	margin: 0;
	width: 100%;
	height: auto;
	overflow: hidden;
	position: relative;
}
.news-poster img {
	width: 100%;
	height: auto;
	border: 0;
}

li.news-item:hover .news-poster-info {
	opacity: 1;
	visibility: visible;
}

div.news-poster-info {
	align-items: center;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	flex-direction: column;
	height: 99.6%;
	justify-content: center;
	left: 0;
	opacity: 0;
	padding: 79px 20px;
	position: absolute;
	text-align: center;
	top: 0;
	transition: all 0.2s ease-in-out;
	visibility: hidden;
	width: 100%;
	z-index: 1;
}
div.news-poster-info a {
	text-decoration: none;
}
div.news-poster-info > a h6 {
	color: #e4bb23;
	font-size: 1em;
	line-height: 1em;
	text-transform: uppercase;
	text-decoration: none;
}


.news-sinopse {
	padding: 10px;
	width: 100%;
}

h3.news-title {
	font-size: 1em;
	text-transform: uppercase;
}



@media(max-width:635px){
	ul.catalogo-news {
		grid-template-columns: 1fr 1fr;
		
	}
}

@media(max-width:460px){
	ul.catalogo-news {
		grid-template-columns: 1fr;
		
	}
}