@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');
* {
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}
body {
  background-color: rgb(230, 228, 228);
  margin: 0;
}
.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    position: relative;
    width: 100%;
}
.container{
  margin: 0 auto;
  position: relative;
  max-width: 960px;
  width: 100%;
}

.nav{
  margin-bottom: 20px;
  background-color:#00adb5;
}
.nav .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.list-nav{
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
}
.list-item{
  margin-left: 20px;
}
.link{
	display: flex;
	align-items: center;
  color:#fff;
  text-decoration: none;
}
.link img {
	margin-right: 10px;
}



ul.catalogo-news {
	align-items: flex-start;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	justify-content: space-between;
	padding: 20px 0;
	column-gap: 15px;
	width: 100%;
}

li.news-item {
	background-color: #fff;
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	display: flex;
	flex-direction: column;
	margin-bottom: 30px;
	overflow: hidden;
	width: 100%
	
}


figure.news-poster {
	margin: 0;
	width: 100%;
	height: auto;
	overflow: hidden;
	position: relative;
}
.news-poster img {
	width: 100%;
	height: auto;
	border: 0;
}

li.news-item:hover .news-poster-info {
	opacity: 1;
	visibility: visible;
}

div.news-poster-info {
	align-items: center;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	flex-direction: column;
	height: 99.6%;
	justify-content: center;
	left: 0;
	opacity: 0;
	padding: 79px 20px;
	position: absolute;
	text-align: center;
	top: 0;
	transition: all 0.2s ease-in-out;
	visibility: hidden;
	width: 100%;
	z-index: 1;
}
div.news-poster-info a {
	text-decoration: none;
}
div.news-poster-info > a h6 {
	color: #e4bb23;
	font-size: 1em;
	line-height: 1em;
	text-transform: uppercase;
	text-decoration: none;
}
.grid{
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-items:center;
	align-items: center;
	margin: 20px 20px;
}
.profile img {
	height: 30vh;
	border-radius: 50%;
	border: #00adb5 1px solid;
}
.grid a {
	align-items: center;
	margin: 15px 15px;
	font-size: 50px;
}

.aboutMe { text-align: center; }

.container--white { background-color: white; }

.link--black{ color: black; font-size: 1.3em; }

.link--black:hover{ color: #00adb5; }

.grid-column { grid-template-columns: 1fr;}

.news-sinopse {
	padding: 10px;
	width: 100%;
}
h3.news-title {
	font-size: 1em;
	text-transform: uppercase;
}

/*
	Contato
 */

.form-style-5{
	max-width: 500px;
	padding: 10px 20px;
	background: #f4f7f8;
	margin: 10px auto;
	padding: 20px;
	background: #f4f7f8;
	border-radius: 8px;
}
.form-style-5 fieldset{
	border: none;
}
.form-style-5 legend {
	font-size: 1.4em;
	margin-bottom: 10px;
}
.form-style-5 label {
	display: block;
	margin-bottom: 8px;
}
.form-style-5 input[type="text"],
.form-style-5 input[type="email"],
.form-style-5 textarea{
	font-family: Roboto, sans-serif;
	background: rgba(255,255,255,.1);
	border: none;
	border-radius: 4px;
	font-size: 15px;
	margin: 0;
	outline: 0;
	padding: 10px;
	width: 100%;
	box-sizing: border-box; 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
	background-color: #e8eeef;
	color:#8a97a0;
	-webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	margin-bottom: 30px;
}

.form-style-5 input[type="submit"],
.form-style-5 input[type="button"]
{
	position: relative;
	display: block;
	padding: 19px 39px 18px 39px;
	color: #FFF;
	margin: 0 auto;
	background: #00adb5;
	font-size: 18px;
	text-align: center;
	font-style: normal;
	width: 100%;
	border: 1px solid #00adb5;
	border-width: 1px 1px 3px;
	margin-bottom: 10px;
}
.form-style-5 input[type="submit"]:hover,
.form-style-5 input[type="button"]:hover
{
	background: #109177;
}

.know-more{
	max-width: 800px;
	padding: 10px 20px;
	background: #f4f7f8;
	margin: 10px auto;
	padding: 20px;
	background: #f4f7f8;
	border-radius: 8px;
}
.know-more h3 {
	text-align: center;
}
.know-more ul{
	list-style: none;
}

.know-more ul  li{
	margin: 10px 30px;
	border: 2px solid #00adb5;
	padding: 20px;
	border-radius: 50px;
}
.know-more ul li:hover {
	background-color: #00adb5;
}
.know-more a {
	text-decoration: none;
	color: black;
}
.know-more a:hover {
	color: white;
}

@media(max-width:635px){
	ul.catalogo-news {
		grid-template-columns: 1fr 1fr;
		
	}
	.grid {
		grid-template-columns: 1fr;
	}
}

@media(max-width:460px){
	ul.catalogo-news {
		grid-template-columns: 1fr;
		
	}
	.nav {
  	position: static;
	}
}